/* ARTICLES */
.articles {
   padding-bottom: rem(80);
   // .articles__container
   &__container {
   }
   // .articles__header
   &__header {
      padding: rem(40) rem(60) rem(40) 0;
      //display: none;
   }
   // .articles__title
   &__title {
   }
   // .articles__breadcrumbs
   &__breadcrumbs {
   }
   // .articles__breadcrumbs-link
   &__breadcrumbs-link {
   }
   // .articles__wrapper
   &__wrapper {
      display: flex;
      gap: rem(40);
      @media (max-width:$tablet){
         flex-direction: column;
      }
   }
   // .articles__body
   &__body {
   }
   // .articles__item
   &__item {
      display: flex;
      padding: rem(34) 0;
      &:not(:last-child) {
         border-bottom: 1px solid $lightLightGrayColor;
      }
      @media (max-width: em(720)){
         flex-direction: column;
         align-items: center; 
      }
   }
   // .articles__image
   &__image {
      margin-right: rem(40);
      @media (max-width: em(720)){
         margin-right: 0;
         margin-bottom: rem(30); 
      }
   }
   // .articles__content
   &__content {
      max-width: 537px;
      padding-right: rem(34);
   }
   // .articles__date
   &__date {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 130%;
      color: $grayColor;
      margin-bottom: rem(16);
   }
   // .articles__text
   &__text {
   }
   // .articles__side
   &__side {
      flex: 0 1 rem(200);
   }
   // .articles__cards
   &__cards {
   }
   // .articles__button-wrapp
   &__button-wrapp {
      display: flex;
      justify-content: center;
   }
   // .articles__button-wrapp-2
   &__button-wrapp-2 {
      @media (max-width:$tablet){
         display: flex;
         justify-content: center;
      }
   }
   // .articles__button
   &__button {
      display: flex;
      align-items: center;
      gap: rem(7);
      padding-top: rem(25);
      text-align: center;
   }
   // .articles__button-2
   &__button-2 {
      align-items: center;
      gap: rem(7);
      display: none;
      @media (max-width:$tablet){
         display: flex;
         margin-left: 0;
         padding-top: rem(25);
      }
   }
   // .articles__button-text
   &__button-text {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: $blueColor;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $orangeColor;
         }
      }
   }
   // .articles__button-arrow
   &__button-arrow {
      display: flex;
      align-items: center;
   }
}
.cards-articles {
   display: flex;
   flex-direction: column;
   gap: rem(20);
   @media (max-width:$tablet){
      flex-direction: row;
      flex-wrap: wrap;
   }
   @media (max-width: em(449)){
      display: block; 
   }
   // .cards-articles__title
   &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      text-transform: uppercase;
      color: $orangeColor;
      padding-top: rem(50);
      margin-bottom: rem(20);
   }
   // .cards-articles__item
   &__item {
      display: flex;
      flex-direction: column;
      @media (max-width: em(449)){
         margin-bottom: rem(40);
      }
   }
   // .cards-articles__image
   &__image {
      margin-bottom: rem(11);
      img {
         width: 100%;
      }
   }
   // .cards-articles__desc
   &__desc {
      flex: 1 1 auto;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      color: $lightGrayColor;
      max-width: rem(183);
      margin-bottom: rem(14);
      @include adaptiveValue("font-size", 16, 12);
   }
   // .cards-articles__price
   &__price {
   }
   // .cards-articles__add-button
   &__add-button {
   }
   // .cards-articles__add-text
   &__add-text {
   }
}
.price-articles {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: rem(21);
   // .price-articles__value
   &__value {
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      color: $orangeColor;
      @include adaptiveValue("font-size", 18, 13.5);
   }
   // .price-articles__amount
   &__amount {
      display: flex;
      align-items: center;
      gap: rem(6.5);
   }
   // .price-articles__button
   &__button {
      background-color: $lightGrayColor;
      color: $whiteColor;
      width: rem(16);
      height: rem(16);
      display: flex;
      justify-content: center;
      align-items: center;
   }
   // .price-articles__thing
   &__thing {
      font-style: normal;
      font-weight: 300;
      font-size: 9.43412px;
      line-height: 100%;
      color: $lightGrayColor;
   }
}
