/* ARTICLE */
.article {
   padding-bottom: rem(80);
   // .article__container
   &__container {
   }
   // .article__header
   &__header {
      padding: rem(40) 0;
   }
   // .article__title
   &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 122%;
      //color: $blackColor;
      margin-bottom: rem(15);
   }
   // .article__breadcrumbs
   &__breadcrumbs {
   }
   // .article__breadcrumbs-link
   &__breadcrumbs-link {
   }
   // .article__wrapper
   &__wrapper {
      display: flex;
      @media (max-width:$tablet){
         display: block;
      }
   }
   // .article__body
   &__body {
      @media (max-width:$tablet){
         padding-bottom: rem(40);
      }
   }
   // .article__content
   &__content {
   }
   // .article__text
   &__text {
      padding-right: rem(80);
      margin-bottom: rem(60);
   }
   // .article__image
   &__image {
      margin-bottom: rem(25);
      img {
         max-width: 100%;
      }
   }
   // .article__text-2
   &__text-2 {
      padding-right: rem(80);
      margin-bottom: rem(40);
   }
   // .article__socials
   &__socials {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

   }
   // .article__social-item
   &__social-item {
      display: flex;
      align-items: center;
      gap: rem(10);
      padding: 0 rem(7);
      border-left: 1px solid $lineVertColor;
      &:first-child {
         border: none;
      }
      @media (max-width:$mobile){
         border-left: none;
         margin-bottom: rem(20);
      }
      margin-bottom: rem(30);
   }
   // .article__socials-icon
   &__socials-icon {
   }
   // .article__socials-text
   &__socials-text {
      @include adaptiveValue("font-size", 16, 14);
   }
   // .article__button
   &__button {
      display: flex;
      align-items: center;
   }
   // .article__button-image
   &__button-image {
      margin-right: rem(10);
   }
   // .article__button-text
   &__button-text {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 122%;
      color: $blackColor;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $orangeColor;
         }
      }
   }
   // .article__side
   &__side {
      flex: 0 0 rem(200);
   }
   // .article__cards
   &__cards {
   }
}
.cards-article {
   display: flex;
   flex-direction: column;
   gap: rem(20);
   @media (max-width:$tablet){
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
   }
   // .cards-article__title
   &__title {
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 130%;
      text-transform: uppercase;
      color: $orangeColor;
      padding-top: rem(50);
      @media (max-width:$tablet){
         display: none;
      }
   }
   // .cards-article__item
   &__item {
      display: flex;
      flex-direction: column;
   }
   // .cards-article__image
   &__image {
      margin-bottom: rem(11);
   }
   // .cards-article__desc
   &__desc {
      flex: 1 1 auto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $lightGrayColor;
      max-width: rem(183);
      margin-bottom: rem(14);
   }
   // .cards-article__price
   &__price {
   }
   // .cards-article__add-button
   &__add-button {
   }
   // .cards-article__add-text
   &__add-text {
   }
}
.price-article {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: rem(21);
   // .price-article__value
   &__value {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $orangeColor;
   }
   // .price-article__amount
   &__amount {
      display: flex;
      align-items: center;
      gap: rem(6.5);
   }
   // .price-article__button
   &__button {
      background-color: $lightGrayColor;
      color: $whiteColor;
      width: rem(16);
      height: rem(16);
      display: flex;
      justify-content: center;
      align-items: center;
   }
   // .price-article__thing
   &__thing {
      font-style: normal;
      font-weight: 300;
      font-size: 9px;
      line-height: 100%;
      color: $lightGrayColor;
   }
}

