/* CHECK */
.check {
   // .check__container
   &__container {
   }
   // .check__inner
   &__inner {
      padding-top: rem(40);
   }
   // .check__header
   &__header {
      padding-bottom: rem(20);
   }
   // .check__title
   &__title {
   }
   // .check__breadcrumbs
   &__breadcrumbs {
   }
   // .check__breadcrumbs-link
   &__breadcrumbs-link {
   }
   // .check__contacts
   &__contacts {
   }
   // .check__promotional
   &__promotional {
   }
   // .check__billing
   &__billing {
   }
}
.contacts-check {
   display: flex;
   align-items: center;
   padding-bottom: rem(42);
   border-bottom: 1px solid $borderColor;
   gap: rem(37);
   @media (max-width: $mobile){
      flex-direction: column; 
      gap: rem(5);
   }
   // .contacts-check__phone
   &__phone,
   // .contacts-check__email
   &__email {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 125%;
      color: $borderFormColor;
      span {
         font-style: normal;
         font-weight: 500;
         @include adaptiveValue("font-size", 16, 14);
         line-height: 125%;
         color: $blueColor;
         white-space: nowrap;
         transition: color 0.3s ease 0s;
         @media (any-hover: hover){
            &:hover{
               color: $orangeColor;
            }
         }
      }
   }
}
.promotional-check {
   padding-top: rem(25);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: rem(25);
   border-bottom: 1px solid $borderColor;
   @media (max-width:$mobile){
      flex-direction: column;
      border-bottom: none; 
   }
   // .promotional-check__title
   &__title {
      @media (max-width:$mobile){
         border-bottom: 1px solid $borderColor;
         padding-bottom: rem(10);
      }
   }
   // .promotional-check__form
   &__form {
   }
}
.form-promotional {
   // .form-promotional__form
   &__form {
      display: flex;
      align-items: center;
      @media (max-width: em(560)){
         flex-direction: column;
         gap: rem(15); 
      }
   }
   // .form-promotional__item
   &__item {
      border: 1px solid $borderFormColor;
      border-radius: 4px;
      padding-left: rem(22);
      padding-right: rem(22);
      @include adaptiveValue("padding-top", 22, 15);
      @include adaptiveValue("padding-bottom", 22, 15);
      width: rem(300);
      margin-right: rem(10);
      @media (max-width: em(560)){
         margin-right: 0; 
      }
   }
   // .form-promotional__input
   &__input {
      width: 100%;
      background: $bgColor;
      outline: none;
      &::placeholder {
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 125%;
         color: $blackColor;
      }
   }
   // .form-promotional__button-wrapper
   &__button-wrapper {
   }
   // .form-promotional__button
   &__button {
      white-space: nowrap;
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
      text-transform: uppercase;
      color: $whiteColor;
      background: $blueColor;
      padding-left: rem(47);
      padding-right: rem(47);
      @include adaptiveValue("padding-top", 23, 15);
      @include adaptiveValue("padding-bottom", 23, 15);
      border-radius: 4px;
      transition: background 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            background: $blue2Color;
         }
      }
   }
}
.billing-check {
   padding-top: rem(50);
   display: flex;
   margin-bottom: rem(110);
   @media (max-width:$tablet){
      flex-direction: column;
      align-items: center;
   }
   @media (max-width:$mobileSmall){
      margin-bottom: rem(50);
   }
   // .billing-check__details
   &__details {
      flex: 0 0 530px;
      padding-right: rem(60);
      @media (max-width: em(1084)){
         padding-right: rem(20);
         flex: 0 1 500px;  
      }
      @media (max-width:$tablet){
         padding-right: 0;
         flex: 0 1 auto;
      }
   }
   // .billing-check__deliver
   &__deliver {
      flex: 1 1 auto;
   }
}
.details-billing {
   // .details-billing__wrapper
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   // .details-billing__title
   &__title {
      @media (max-width:$tablet){
         margin: 0 auto;
         padding-bottom: rem(16);
      }
   }
   // .details-billing__line
   &__line {
      @media (max-width:$tablet){
         display: none; 
      }
   }
   // .details-billing__form
   &__form {
   }
}
.form-details {
   // .form-details__body
   &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (max-width:$tablet){
         padding-bottom: rem(30);
      }
   }
   // .form-details__name
   &__name {
      display: flex;
   }
   // .form-details__item
   &__item {
      border: 1px solid $borderFormColor;
      border-radius: 4px;
      padding: rem(22);
   }
   // .form-details__input
   &__input {
      width: 100%;
      background: $bgColor;
      outline: none;
   }
   // .form-details__company
   &__company {
   }
   // .form-details__country
   &__country {
   }
   // .form-details__town 
   &__town {
   }
   // .form-details__county
   &__county {
   }
   // .form-details__postcode
   &__postcode {
   }
   // .form-details__phone
   &__phone {
   }
   // .form-details__email
   &__email {
   }
   // .form-details__account
   &__account {
   }
   // .form-details__checkbox
   &__checkbox {
      display: flex;
      align-items: center;
      gap: 7px;
      @media (max-width:$tablet){
         justify-content: center;
      }
   }
   // .form-details__label
   &__label {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 125%;
      color: $blackColor;
   }
   // .form-details__button-wrapper
   &__button-wrapper {
      display: flex;
      justify-content: center;
      padding-top: rem(20);
   }
   // .form-details__button
   &__button {
      white-space: nowrap;
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
      text-transform: uppercase;
      color: $whiteColor;
      background: $blueColor;
      padding-left: rem(47);
      padding-right: rem(47);
      @include adaptiveValue("padding-top", 23, 15);
      @include adaptiveValue("padding-bottom", 23, 15);
      border-radius: 4px;
      transition: background 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            background: $blue2Color;
         }
      }
   }
}
.item-first-details {
   width: rem(230);
   margin-right: rem(10);
}
.input-first-details {
}
.item-last-details {
}
.input-last-details {
}
.input-company-details {
}
.input-country-details {
}
.input-town-details {
}
.input-county-details {
}
.input-postcode-details {
}
.input-phone-details {
}
.input-email-details {
}
.checkbox {
   // .checkbox__input
   &__input {
   }
}
.deliver-billing {
   padding-left: rem(55);
   @media (max-width: em(1084)){
      padding-left: rem(15);
      flex: 0 1 500px;   
   }
   @media (max-width:$tablet){
      padding-left: 0;
      flex: 0 1 auto;
   }
   // .deliver-billing__form
   &__form {
   }
}
.form-deliver {
   // .form-deliver__body
   &__body {
   }
   // .form-deliver__wrapper
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(10);
   }
   // .form-deliver__checkbox
   &__checkbox {
      display: flex;
      align-items: center;
      gap: 7px;
   }
   // .form-deliver__label
   &__label {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 121%;
      color: $blueColor;
   }
   // .form-deliver__image
   &__image {
      @media (max-width:$tablet){
         display: none;
      }
   }
   // .form-deliver__email
   &__email {
   }
   // .form-deliver__item
   &__item {
      border: 1px solid $borderFormColor;
      border-radius: 4px;
      padding: rem(22);
      width: rem(470);
      @media (max-width:$tablet){
         width: 100%;
      }
   }
   // .form-deliver__input
   &__input {
      width: 100%;
      background: $bgColor;
      outline: none;
   }
   // .form-deliver__button-wrapper
   &__button-wrapper {
      display: flex;
      justify-content: center;
      padding-top: rem(20);
   }
   // .form-deliver__button
   &__button {
      white-space: nowrap;
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
      text-transform: uppercase;
      color: $whiteColor;
      background: $blueColor;
      padding-left: rem(47);
      padding-right: rem(47);
      @include adaptiveValue("padding-top", 23, 15);
      @include adaptiveValue("padding-bottom", 23, 15);
      border-radius: 4px;
      transition: background 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            background: $blue2Color;
         }
      }
   }
}


