/* DPL5CHARACTERISTIC */
.dpl5characteristic {
   margin-bottom: rem(55);
   // .dpl5characteristic__container
   &__container {
   }
   // .dpl5characteristic__body
   &__body {
   }
   // .dpl5characteristic__header
   &__header {
      display: flex;
      align-items: center;
      gap: rem(8);
      border-bottom: 4px solid $light2GrayColor;
      margin-bottom: rem(37);
      @media (max-width:$mobile){
         justify-content: space-evenly;   
      }
   }
   // .dpl5characteristic__desc
   &__desc {
      font-weight: 700;      
      background: $light2GrayColor;
      
   }
   // .dpl5characteristic__doc
   &__doc {
      font-weight: 300;      
      border: 1px solid #F3F4F5;
      border-radius: 2px;
   }
   // .dpl5characteristic__rev
   &__rev {      
      font-weight: 300;
      border: 1px solid #F3F4F5;
      border-radius: 2px;
      white-space: nowrap;
   }
   &__desc,
   &__doc,
   &__rev {
      font-style: normal;
      line-height: 110.5%;
      color: $blackColor;
      @include adaptiveValue("padding-top", 31, 10);
      @include adaptiveValue("padding-bottom", 31, 10);
      @include adaptiveValue("padding-left", 58, 20);
      @include adaptiveValue("padding-right", 58, 20);
      @include adaptiveValue("font-size", 18, 10);
   }

   // .dpl5characteristic__content
   &__content {
   }
   // .dpl5characteristic__title
   &__title {
   }
   // .dpl5characteristic__text
   &__text {
      margin-bottom: rem(25);
      @include adaptiveValue("font-size", 16, 14);
   }
   // .dpl5characteristic__nav
   &__nav {
      margin-bottom: rem(40);
   }
   // .dpl5characteristic__title-h3
   &__title-h4 {
      margin-bottom: rem(20);
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $blackColor;
   }
   // .dpl5characteristic__list
   &__list {
      padding-left: rem(15);
   }
   // .dpl5characteristic__item
   &__item {
      position: relative;
      padding-left: rem(15);
      @include adaptiveValue("font-size", 16, 14);
      &::before {
         content: "";
         position: absolute;
         width: rem(5);
         height: rem(5);
         top: 50%;
         left: 0;
         border-radius: 50%;
         transform: translateY(-50%);
         background: $blackColor;
         display: flex;
         align-items: center;
      }
   }
   // .dpl5characteristic__socials
   &__socials {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
   }
   // .dpl5characteristic__socials-icon
   &__socials-icon {
   }
   // .dpl5characteristic__socials-text
   &__socials-text {
      @include adaptiveValue("font-size", 16, 14);
   }
   // .dpl5characteristic__social-item
   &__social-item {
      display: flex;
      align-items: center;
      gap: rem(10);
      padding: 0 rem(14);
      border-left: 1px solid $lineVertColor;
      &:first-child {
         border: none;
      }
      @media (max-width:$mobile){
         border-left: none;
         margin-bottom: rem(20);
      }
   }
}
