/* GEODESY */
.geodesy {
   padding-top: rem(40);
   // .geodesy__header
   &__header {
   }
   // .geodesy__title
   &__title {
      color: $blueColor;
   }
   // .geodesy__breadcrumbs
   &__breadcrumbs {
      
   }
   // .geodesy__container
   &__container {
   }
   // .geodesy__body
   &__body {
      display: flex;
      padding-top: rem(32);
   }
   // .geodesy__side
   &__side {
      flex: 0 0 253px;
      padding-right: rem(50);
      @media (max-width:$mobile){
         display: none; 
      }
   }
   // .geodesy__menu
   &__menu {
   }
   // .geodesy__price
   &__price {
   }
   // .geodesy__brand
   &__brand {
   }
   // .geodesy__country
   &__country {
   }
   // .geodesy__filter
   &__filter {
   }
   // .geodesy__content
   &__content {
      flex: 1 1 auto;
      padding-left: rem(21);
      padding-right: rem(21);
      @media (max-width: em(513)){
          padding: 0; 
      }
   }
   // .geodesy__equipment
   &__equipment {
   }
}
.menu-geodesy {
   padding-bottom: rem(16);
   // .menu-geodesy__title
   &__title {
      
   }
   // .menu-geodesy__body
   &__body {
   }
   // .menu-geodesy__list
   &__list {
   }
   // .menu-geodesy__item
   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   // .menu-geodesy__link
   &__link {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.0075em;
      color: $blackColor;
      transition: color 0.3s ease 0s;
   }
   // .menu-geodesy__button
   &__button {
      display: flex;
      align-items: center;
      transition: all 0.3s ease 0s;
   }
}

.submenu-geodesy {
   // .submenu-geodesy__list
   &__list {
   }
   // .submenu-geodesy__item
   &__item {
      padding-left: rem(10);
   }
   // .submenu-geodesy__link
   &__link {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 184%;
      color: $blackColor;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $orangeColor;
         }
      }
   }
}
.price-geodesy {
   border-top: 1px solid $borderColor;
   border-bottom: 1px solid $borderColor;
   padding: rem(11) 0;

   // .price-geodesy__spollers
   &__spollers {
   }
   // .price-geodesy__item
   &__item {
   }
   // .price-geodesy__title
   &__title {
   }
   // .price-geodesy__body
   &__body {
      width: rem(203);
      padding: rem(10) rem(5);
      border: none;
   }
   &__inputs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(20);
   }
   &__input {
      outline: none;
      border: 1px solid $blackColor;
      border-radius: 4px;
      background: $whiteColor;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $blackColor;
      padding: rem(4);
      width: rem(90);
   }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

// ------- PRICE RANGE START ---------

.noUi-target {
   background: $lightLightGrayColor;
   border: none;
   border-radius: 50px;
   box-shadow: none;
   height: 2px;
}
.noUi-connect {
   background: $orangeColor;
}

.noUi-handle::before,
.noUi-handle::after {
   display: none;
}

.noUi-handle {
   box-shadow: none;
   border-radius: 50%;
   background: $orangeColor;
   border: none;
}

.noUi-horizontal .noUi-handle  {
   width: rem(12);
   height: rem(12);
   top: -5px;
   right: -6px;
}

// ------- PRICE RANGE END ---------

.spollers {
   // .spollers__item
   &__item {
   }
   // .spollers__body
   &__body {
   }
}
.brand-geodesy {
   border-bottom: 1px solid $borderColor;
   padding: rem(11) 0;
   // .brand-geodesy__spollers
   &__spollers {
   }
   // .brand-geodesy__item
   &__item {
   }
   // .brand-geodesy__title
   &__title {
   }
   // .brand-geodesy__body
   &__body {
   }
}
.country-geodesy {
   padding: rem(11) 0;
   // .country-geodesy__spollers
   &__spollers {
   }
   // .country-geodesy__item
   &__item {
   }
   // .country-geodesy__title
   &__title {
   }
   // .country-geodesy__body
   &__body {
   }
}
.filter-geodesy {
   display: flex;
   align-items: center;
   gap: rem(20);
   @media (max-width:$tablet){
      display: none;
   }
   // .filter-geodesy__price
   &__price {
   }
   // .filter-geodesy__price-text
   &__text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: $blackColor;
      background: $filterBgColor;
      padding: rem(7) rem(22);
   }
   // .filter-geodesy__image
   &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(10);
   }
   // .filter-geodesy__brand
   &__brand {
   }
   // .filter-geodesy__country
   &__country {
   }
   // .filter-geodesy__item
   &-item {
      display: flex;
      align-items: center;
   }
}
.equipment-geodesy {
   display: flex;
   flex-wrap: wrap;
   padding-top: rem(16);
   padding-bottom: rem(73);
   margin: 0 rem(-10);
   @media (max-width:$mobile){
      margin: 0;
   }
   // .equipment-geodesy__item
   &__item {
      flex: 1 1 25%;
      margin-bottom: rem(30);
      display: flex;
      flex-direction: column;
      padding: 0 rem(10);
      @media (max-width:$mobile){
         flex: 1 1 auto; 
         max-width: 480px;
      }
   }
   // .equipment-geodesy__image
   &__image {
      margin-bottom: rem(19);
      @media (max-width: em(480)){
         img {
            width: 100%;
         } 
      }
   }
   // .equipment-geodesy__title
   &__title {
      margin-bottom: rem(47);
      flex: 1 1 auto;
      @media (max-width:$mobile){
         margin-bottom: rem(20);
      }
   }
   // .equipment-geodesy__menu
   &__menu {
   }
}
.menu-equipment-geodesy {
   // .menu-equipment-geodesy__body
   &__body {
   }
   // .menu-equipment-geodesy__list
   &__list {
   }
   // .menu-equipment-geodesy__item
   &__item {
   }
   // .menu-equipment-geodesy__link
   &__link {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $orangeColor;
         }
      }
   }
}




