/* SEARCH */
.search {
   padding: 30px 0 40px 0;
   border-bottom: 1px solid $borderColor;
   @media (max-width:$mobile){
      margin-top: rem(80); 
   }
   // .search__container
   &__container {
   }
   // .search__body
   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   // .search__main
   &__main {
      margin-right: rem(50);
   }
   // .search__tagline
   &__tagline {
      font-family: 'Jost';
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 91.9%;
      text-transform: uppercase;
      color: $orangeColor;
      span {
         color: $blueColor;
      }
      @media (max-width:$mobile){
         font-size: 30px;
      }
   }
   // .search__desc
   &__desc {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 121%;
      color: $blueColor;
      @media (max-width:$mobile){
         font-size: 12px; 
      }
   }
   // .search__form
   &__form {
   }
   // .search__cart
   &__cart {
   }
   // .search__special-offers
   &__special-offers {
      @media (min-width:$mobile){
          display: none; 
      }
   }
}
.special-offers {
   // .special-offers__text
   &__text {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: $blackColor;
      text-align: right;
   }
   // .special-offers__image
   &__image {
      text-align: right;
   }
}
.form-search {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   padding-right: rem(10);
   @media (max-width:$mobile){
       padding-top: rem(30); 
       padding-right: 0;
   }
   // .form-search__item
   &__item {
      flex: 0 1 520px;
      height: 40px;
      //background: $bgColor;
      border: 1px solid #CECECE;
      border-radius: 4px;
      padding: 12px;
      margin-right: rem(6);
      img {
         margin-right: rem(11);
      }
      @media (max-width:$tablet){
         flex: 0 1 520px;
      }
      @media (max-width:$mobileSmall){
         margin-right: 0;
      }
   }
   // .form-search__input
   &__input {
      background: $bgColor;
      outline: none;
      max-width: rem(460);
   }
  /*  &__input._form-focus {
      &::placeholder {
         color: transparent;
      }
   } */
   // .form-search__button
   &__button {
      padding: 11px 42px;
      background: $blueColor;
      color: $whiteColor;
      border-radius: 4px;
      transition: background 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            background: $blue2Color;
         }
      }
      @media (max-width:$tablet){
         display: none;
      }
      @media (max-width:$mobile){
          display: block; 
      }
      @media (max-width:$mobileSmall){
          display: none; 
      }
   }
}
.cart-search {
   flex: 0 0 182px;
   display: flex;
   align-items: center;
   padding-right: rem(70);
   @media (max-width:$tablet){
      padding-right: 0; 
      flex: 0 0 115px;
   }
   @media (max-width:$mobile){
      flex: 0 0 100px;
   }
   // .cart-search__text
   &__text {
      display: flex;
      flex-wrap: nowrap;
      font-family: 'Nunito';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 135%;
      color: $blueColor;
      margin-right: rem(10);
      @media (max-width:$mobile){
          color: $whiteColor; 
          font-size: 16px;
          font-weight: 400;
      }
   }
   // .cart-search__image
   &__image {
      position: relative;
      span {
         position: absolute;
         background: $orangeColor;
         border-radius: 50%;
         padding: rem(5);
         color: $whiteColor;
         top: -10px;
         right: -7px;
         display: flex;
         width: 20px;
         height: 20px;
         align-items: center;
         justify-content: center;
         @media (max-width:$mobile){
             top: 0;
             right: -7px;
         }
      }
      &-1 {
         @media (max-width:$mobile){
             display: none; 
         }
      }
      &-2 {
         display: none;
         @media (max-width:$mobile){
             display: block; 
         }
      }
   }
}
.menu-hidden {

}

