/* top */
.top {
   padding-bottom: rem(80);
   // .top_body
   &_body {
   }
   // .top__container
   &__container {
      background: $whiteColor;
      padding-top: rem(14);
      padding-bottom: rem(34);
      box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(3px);
   }
   // .top__cards
   &__cards {
   }
   // .top__main
   &__main {
   }
   &__cards-title {
      padding-bottom: rem(20);
   }
}
.main-top {
   display: flex;
   align-items: center;
   margin-bottom: rem(36);
   @media (max-width:$mobile){
      display: block; 
   }
   // .main-top__lable
   &__lable {
      flex: 1 0 auto;
      display: flex;
      padding: rem(17) rem(40);
      background: $orangeColor;
      align-items: center;
      @media (max-width:$mobile){
         justify-content: center; 
         margin-bottom: rem(20);
      }
   }
   // .main-top__lable-icon
   &__lable-icon {
      margin-right: rem(13);
   }
   // .main-top__lable-text
   &__lable-text {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: $whiteColor;
   }
   // .main-top__menu
   &__menu {
   }
   &-hidden {
      @media (max-width:$mobile){
          display: none; 
      }
   }
}
.menu-main-top {
   overflow: auto;
   padding-bottom: rem(20);
   margin-left: rem(20);
   @media (max-width:$mobile){
      margin-left: 0;
   }
   // .menu-main-top__body
   &__body {
   }
   // .menu-main-top__list
   &__list {
      display: flex;
      align-items: center;
      white-space: nowrap;
   }
   // .menu-main-top__item
   &__item {      
      &:not(:first-child) {
         margin-left: rem(35);
      }
   }
   // .menu-main-top__link
   &__link {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $lightGrayColor;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover){
         &:hover{
            color: $darkGrayColor;
            text-decoration-line: underline;
            text-underline-offset: 20px;
            text-decoration-thickness: 6px;
            text-decoration-color: $orangeColor;
         }
      }
   }
   &-hidden {

   }
}
.cards-top {
   display: flex;
   margin: 0 -17px;
   flex-wrap: wrap;
   // .cards-top__item
   &__item {
      padding: 0 17px;
      display: flex;
      flex-direction: column;
      margin-bottom: rem(30);
      @media (max-width: em(463.98)){
         flex: 1 0 auto;
      }
   }
   // .cards-top__image
   &__image {
      margin-bottom: rem(11);
      @media (max-width: em(463.98)){
         img {
            width: 100%;
            height: 100%;
         }
      }

   }
   // .cards-top__desc
   &__desc {
      flex: 1 1 auto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $lightGrayColor;
      max-width: rem(183);
      margin-bottom: rem(14);
   }
   // .cards-top__price
   &__price {
   }
   // .cards-top__add-button
   &__add-button {
   }
   // .cards-top__add-text
   &__add-text {
   }
}
.price-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: rem(21);
   // .price-top__value
   &__value {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: $orangeColor;
   }
   // .price-top__amount
   &__amount {
      display: flex;
      align-items: center;
      gap: rem(6.5);
   }
   // .price-top__button
   &__button {
      background-color: $lightGrayColor;
      color: $whiteColor;
      width: rem(16);
      height: rem(16);
      display: flex;
      justify-content: center;
      align-items: center;

   }
   // .price-top__thing
   &__thing {
      font-style: normal;
      font-weight: 300;
      font-size: 9.43412px;
      line-height: 100%;
      color: $lightGrayColor;
   }
}
// ._minus
._minus {
}
// ._plus
._plus {
}



