/* WELCOME */
.welcome {
   margin-bottom: rem(82);
   // .welcome__container
   &__container {
   }
   // .welcome__body
   &__body {
   }
   // .welcome__title
   &__title {
      padding-top: rem(50);
   }
   // .welcome__text
   &__text {
      margin-bottom: rem(63);
   }
   // .welcome__text
   &__text {
   }
   // .welcome__menu
   &__menu {
   }
}
.menu-welcome {
   // .menu-welcome__body
   &__body {
   }
   // .menu-welcome__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      @media (max-width:$mobile){
          justify-content: center; 
      }
      @media (max-width: em(360)){
           display: inline-block;
      }
   }
   // .menu-welcome__item
   &__item {
      padding-right: rem(38);
      padding-left: rem(38);
      border-left: 1px solid $lightOrangeColor;
      &:first-child {
         border-left: none;
         padding-left: 0;
      }
      @media (max-width:$mobile){
         border-left: none;
         margin: 5px 15px 5px 0; 
         padding: 0;
      }
   }
   // .menu-welcome__link
   &__link {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-transform: capitalize;
      color: $orangeColor;
      opacity: 0.5;
      @media (any-hover: hover){
         &:hover{
            opacity: 1;
         }
      }
      @media (max-width:$mobile){
         border-bottom: 1px solid $lightOrangeColor; 
      }
   }
}

